section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0.5em;
  border-right: 1px solid #e0e0e0;
  background-color: var(--bg-color);
}

.section-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  color: var(--text-color);
}

.selected {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text);
}

.section-icon:hover {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text);
}

.logout:hover {
  background-color: #ff4d4f;
  color: var(--button-secondary-text);
}
